*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/build
/release
.idea/caches/build_file_checksums.ser

.idea/misc.xml

gradle/wrapper/gradle-wrapper.properties
